[Unit]
Description=Quadratik Service

[Service]
Type=simple
PIDFile=/run/quadratik.pid
User=root
Group=root
WorkingDirectory=/root/quadratik
ExecStart=/usr/bin/node index.js --prod
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target

